/* ==================== root ==================== */
:root {
  --main-color: #69eaff;
  --main-color2: #7bea9e;
  --main-gl-color: rgba(0, 119, 255, 0.4);
  --potin-color: #ff8a00;
  --primary-font-color: #1a1a1a;
  --secondary-font-color: #6c757d;
  --light-font-color: #c4c4c4;
  --white: #fff;
  --main-red: #fa7070;
  --sub-yellow: #fff7ae;
  --lightblue: #c3d6f7;
  --bg-lightpurple: #795b84;
  --bg-purple: #2d2840;
  --bg-orange: #ec9e69;
  --bg-dkgreen: #576d07;
  --bg-dkblue: #36516d;
}
/* =================== warp =================== */
section > div {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* =================== title =================== */
.title_bg::before {
  content: ""; /* 가상 요소에 내용을 추가합니다. */
  position: absolute; /* 이미지와 겹치게 할 배경 요소를 절대 위치로 설정합니다. */
  top: 0;
  left: 0;
  width: 100%; /* 부모 요소의 너비와 높이를 가득 채우도록 설정합니다. */
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 검정색 배경에 투명도를 추가합니다. */
  z-index: 1; /* 배경 요소를 이미지 위에 배치합니다. */
}
.title_bg {
  background: url(../img/title_bg1.webp) no-repeat fixed center /* 150% */;
  background-size: cover;
  height: 100vh;
  z-index: 0;
}

.title_bg > .title {
  color: var(--white);
  z-index: 100;
  height: 100vh;
}

.title_bg > .title > .top_title,
.title_bg > .title > .btm_title,
.title_bg > .title > .main_title {
  text-align: center;
  z-index: 2;
  /* text-shadow: 0px 0px 17px rgba(0, 0, 0, 0.5); */
}

.title_bg > .title > .top_title {
  font-size: 1.2rem;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
  text-shadow: 0px 0px 17px rgba(0, 0, 0, 0.5);
}

.title_bg > .title > .btm_title {
  margin-top: 20px;
  font-size: 1.4rem;
  text-shadow: 0px 0px 17px rgba(0, 0, 0, 0.5);
}

.title_bg > .title > .top_title > span,
.title_bg > .title > .btm_title > span {
  font-weight: 700;
}

.title_bg > .title > .main_title {
  font-size: 8rem;
  line-height: 100px;
  letter-spacing: -0.02em;
  font-weight: 700;
  font-family: Helvetica, sans-serif;
  /* text-shadow: 0px 0px 17px rgba(0, 0, 0, 0.5); */

  /* background-image: linear-gradient(to right, #aed9e0, #b8e8c7); */
  background-image: linear-gradient(to right, #69eaff, #7bea9e);
  background-clip: text;
  color: transparent;
}

/* =================== route =================== */
.route_bg {
  background: linear-gradient(to bottom, var(--bg-dkblue), var(--bg-purple));
}
.route {
  height: 100vh;
}

.route_bg > .route > div > h2 {
  font-size: 3rem;
  font-weight: 700;
  background-image: linear-gradient(to right, #69eaff, #7bea9e);
  background-clip: text;
  color: transparent;
}

.route_bg > .route > div > p {
  font-size: 1.2rem;
  letter-spacing: -0.02em;
  color: var(--sub-yellow);
  margin: -20px 0 50px 0;
  text-align: center;
}
.route_bg .route .contents ul {
  display: flex;
  align-items: center;
}

.route_bg .route .contents ul li {
  padding: 10px 20px;
  background-color: var(--main-color);
  border-radius: 50px;
  margin-right: 20px;
  font-size: 1.3rem;
}
.route_bg .route .contents ul li:last-child {
  margin-right: 0;
}

.route_bg .route .contents ul img {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.route_bg .route .contents ul li:hover {
  background: var(--main-red);
  font-weight: 700;
  color: var(--white);
}

.route_bg .route .map {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
/* =================== quiz =================== */
.quiz_bg {
  background: url(../img/quiz.png) no-repeat fixed center;
  background-size: cover;
  height: 100vh;
  z-index: 0;
}

.contents_qz {
  display: flex;
}

.quiz_bg > .quiz > h2 {
  font-size: 3rem;
  font-weight: 700;
  background-image: linear-gradient(to right, #69eaff, #7bea9e);
  background-clip: text;
  color: transparent;
}

.quiz {
  height: 100vh;
  color: var(--white);
}

.quiz_subtitle {
  font-size: 1.2rem;
  letter-spacing: -0.02em;
  color: var(--sub-yellow);
  margin: -20px 0 50px 0;
}

.contents_qz {
  display: flex;
  width: 1200px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.contents_qz > .left > h2 {
  font-size: 1.8rem;
  font-weight: 700;
}

#quiz_frm > fieldset > ul > li {
  margin-top: 15px;
  font-size: 1.5rem;
}

#quiz_frm > fieldset > ul > li:last-child {
  margin-bottom: 40px;
}

#quiz_frm fieldset ul li label input {
  appearance: none;
}

.quiz_bg .quiz .contents_qz .left #quiz_frm fieldset ul li label span {
  background: url(../img/un_check.png) no-repeat;
  background-position: 0%;
  padding-left: 25px;
  font-size: 1.44rem;
  letter-spacing: -0.02em;
}
.quiz_bg
  .quiz
  .contents_qz
  .left
  #quiz_frm
  fieldset
  ul
  li
  label
  input:checked
  + span {
  background: url(../img/check.png) no-repeat;
  background-position: 0%;
}

.contents_qz > .right {
  display: none;
}

.contents_qz .left #quiz_frm fieldset #answer_btn {
  padding: 20px 200px;
  height: 70px;
  border-radius: 50px;
  background: var(--main-color);

  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.02em;

  line-height: normal;
}

.contents_qz .left #quiz_frm fieldset #answer_btn:hover {
  cursor: pointer;
  background-color: var(--main-red);
  box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.5);
}

.rightBox {
  width: 500px;
  margin-bottom: 15px;
  /* background-color: red; */
}

.rightBoxTitle {
  display: flex;
  justify-content: center;
  padding: 25px 0;
  background-color: var(--main-red);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 1.8rem;
  font-weight: 700;
}

.rightBoxContents {
  padding: 50px 0;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: var(--primary-font-color);
}

.rightBoxContents > em {
  font-size: 4rem;
  font-weight: 700;
  color: var(--main-red);
  letter-spacing: -0.02em;
}

.rightBoxContents > span {
  color: #333;
  font-size: 1.44rem;
  font-weight: 500;
  letter-spacing: -0.1em;
  margin: 0 0 15px 10px;
}

.update {
  text-align: center;
  font-size: 1.3rem;
  letter-spacing: -0.02em;
}

/* =================== tourism =================== */
.tourism_bg {
  /* height: 100vh; */
  background-color: var(--white);
}

.tourism_bg > .tourism > h2 {
  font-size: 3rem;
  font-weight: 700;
  padding-top: 100px;
}

.tourism_bg > .tourism > .subtitle {
  font-size: 1.2rem;
  letter-spacing: -0.02em;
  margin-bottom: 50px;
}

.tourism > .contents_tr > .contents {
  display: flex;
  flex-flow: row wrap;
}

.tourism > .contents_tr > .contents > li > img {
  width: 550px;
  height: 385px;
  border-radius: 50px;
  margin-bottom: 20px;
  transition: transform.5s;
}

.tourism > .contents_tr > .contents > li > img:hover {
  transform: scale(1.05);
  transition: transform.5s;
  cursor: pointer;
}

.tourism > .contents_tr > .contents > li {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 70px;
}

.tourism > .contents_tr > .contents > li:nth-child(2n + 1) {
  margin-right: 50px;
}

.tourism > .contents_tr > .contents > li > h3 {
  background: var(--main-red);
  color: var(--white);
  font-size: 1.728rem;
  font-weight: 700;
  letter-spacing: -0.02em;
  display: inline-block;
  padding: 10px 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 20px;
}

.tourism > .contents_tr > .contents > li > p {
  font-size: 1.2rem;
  letter-spacing: -0.02em;
}
/* =================== youtube =================== */
.video-container {
  position: relative;
  width: 90%;
  height: 600px;
  overflow: hidden;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.youtube_bg {
  height: 100vh;
  /* background: linear-gradient(to bottom, var(--white), var(--bg-orange)); */
  background: linear-gradient(
    to bottom,
    var(--white),
    var(--bg-orange),
    var(--bg-lightpurple)
  );
}

.youtube > div {
  margin: 100px 0 50px 0;
}

.youtube > div > h2 {
  font-size: 3rem;
  font-weight: 700;
}

.youtube > div > p {
  font-size: 1.2rem;
  letter-spacing: -0.02em;
  text-align: center;
}
/* =================== package =================== */
.package_bg {
  background: url(../img/quiz.png) no-repeat fixed center;
  background-size: cover;
  height: 100vh;
  z-index: 0;
}
.package_bg > .package > div > h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 100px;
  color: var(--white);
}

.package_bg > .package > div > p {
  font-size: 1.2rem;
  letter-spacing: -0.02em;
  color: var(--sub-yellow);
  margin: 0px 0 50px 0;
  text-align: center;
}

.package_bg .contents ul li {
  width: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  transition: all 0.3s;
}
.package_bg .contents ul li:hover {
  width: 103%;
}

.package_bg .contents ul li img {
  width: 20%;
}

.package_bg .contents ul li .info {
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.package_bg .contents ul li .info .left h3 {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
  transition: all 0.3s;
}

.package_bg .contents ul li:hover .info .left h3 {
  font-size: 1.44rem;
  font-weight: 700;
}

.package_bg .contents ul li .info .left p {
  font-size: 0.833rem;
  letter-spacing: -0.02em;
}

.package_bg .contents ul li .info .right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.package_bg .contents ul li .info .right p {
  letter-spacing: -0.02em;
  margin-right: 20px;
  color: #fa7070;
}

.package_bg .contents ul li .info .right p span {
  font-size: 1.44rem;
  font-weight: 600;
  letter-spacing: -0.02em;
  transition: all 0.3s;
}

.package_bg .contents ul li:hover .info .right p span {
  font-size: 1.728rem;
  font-weight: 700;
}

.package_bg .contents ul li .info .right a {
  background: #eee;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

.package_bg .contents ul li .info .right a span {
  color: #333;
  font-weight: 500;
  font-size: 0.833rem;
  letter-spacing: -0.02em;
  margin-right: 10px;
}

.package_bg .contents ul li .info .right a:hover {
  background-color: var(--main-red);
}

.package_bg .contents ul li .info .right a:hover span {
  color: var(--white);
}
