/* ==================== root ==================== */
:root {
  --main-color: #69eaff;
  --main-color2: #7bea9e;
  --main-gl-color: rgba(0, 119, 255, 0.4);
  --potin-color: #ff8a00;
  --primary-font-color: #1a1a1a;
  --secondary-font-color: #6c757d;
  --light-font-color: #c4c4c4;
  --white: #fff;
}
/* =================== warp =================== */
section > div {
  width: 1200px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* =================== title =================== */
.title_bg::before {
  content: ""; /* 가상 요소에 내용을 추가합니다. */
  position: absolute; /* 이미지와 겹치게 할 배경 요소를 절대 위치로 설정합니다. */
  top: 0;
  left: 0;
  width: 100%; /* 부모 요소의 너비와 높이를 가득 채우도록 설정합니다. */
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 검정색 배경에 투명도를 추가합니다. */
  z-index: 1; /* 배경 요소를 이미지 위에 배치합니다. */
}
.title_bg {
  background: url(../img/title_bg1.webp) no-repeat fixed center /* 150% */;
  background-size: cover;
  height: 100vh;
  z-index: 0;
}

.title_bg > .title {
  color: var(--white);
  z-index: 100;
}

.title_bg > .title > .top_title,
.title_bg > .title > .btm_title,
.title_bg > .title > .main_title {
  text-align: center;
  z-index: 2;
  /* text-shadow: 0px 0px 17px rgba(0, 0, 0, 0.5); */
}

.title_bg > .title > .top_title {
  font-size: 1.2rem;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
  text-shadow: 0px 0px 17px rgba(0, 0, 0, 0.5);
}

.title_bg > .title > .btm_title {
  margin-top: 20px;
  font-size: 1.4rem;
  text-shadow: 0px 0px 17px rgba(0, 0, 0, 0.5);
}

.title_bg > .title > .top_title > span,
.title_bg > .title > .btm_title > span {
  font-weight: 700;
}

.title_bg > .title > .main_title {
  font-size: 8rem;
  line-height: 100px;
  letter-spacing: -0.02em;
  font-weight: 700;
  /* text-shadow: 0px 0px 17px rgba(0, 0, 0, 0.5); */

  /* background-image: linear-gradient(to right, #aed9e0, #b8e8c7); */
  background-image: linear-gradient(to right, #69eaff, #7bea9e);
  background-clip: text;
  color: transparent;
}

/* =================== route =================== */
/* =================== quiz =================== */
.quiz_bg {
  background: url(../img/quiz.png) no-repeat fixed center;
  background-size: cover;
}

.contents_qz {
  display: flex;
}

.quiz_bg > .quiz > h2 {
  font-size: 3rem;
}

.quiz {
  color: var(--white);
}

.quiz_subtitle {
  font-size: 1.2rem;
  letter-spacing: -0.02em;
  color: #fff7ae;
  margin: -20px 0 50px 0;
}

.contents_qz {
  display: flex;
  width: 1200px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.contents_qz > .left > h2 {
  font-size: 1.8rem;
  font-weight: 700;
}

#quiz_frm > fieldset > ul > li {
  margin-top: 15px;
  font-size: 1.5rem;
}

#quiz_frm > fieldset > ul > li:last-child {
  margin-bottom: 40px;
}

#quiz_frm fieldset ul li label input {
  appearance: none;
}

.quiz_bg .quiz .contents_qz .left #quiz_frm fieldset ul li label span {
  background: url(../img/un_check.png) no-repeat;
  background-position: 0%;
  padding-left: 25px;
  font-size: 1.44rem;
  letter-spacing: -0.02em;
}
.quiz_bg
  .quiz
  .contents_qz
  .left
  #quiz_frm
  fieldset
  ul
  li
  label
  input:checked
  + span {
  background: url(../img/check.png) no-repeat;
  background-position: 0%;
}

.contents_qz .left #quiz_frm fieldset #answer_btn {
  padding: 20px 200px;
  height: 70px;
  border-radius: 50px;
  background: var(--main-color);

  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.02em;

  line-height: normal;
}
/* =================== tourism =================== */
/* =================== youtube =================== */
.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 비율을 유지하기 위해 설정합니다. */
  overflow: hidden;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* =================== package =================== */
